[Unit]
Description=Fetch weather and post to mqtt broker
After=rc-local.service

[Service]
WorkingDirectory=@DMNWORKDIR@/
User=pi
ExecStart=@DMNWORKDIR@/weather-provider
Restart=always
RestartSec=30
Type=simple
PIDFile=@LOCALSTATEDIR@/run/weather-provider.pid

[Install]
WantedBy=multi-user.target
